{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">   Number of CPTs conducted</span>
        <div class="count red">20</div>
        <span class="count_bottom"><i class="green"></i></span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Number of Brands compared</span>
        <div class="count red">20+</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Cities</span>
        <div class="count red">5+</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Total number of Reviews</span>
        <div class="count red">10000+</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Date of Last CPT</span>
        <div class="count red">20/3/2019</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Competition Brands</span>
        <div class="count red"><font size="6">MGA / MGL</div>
      </div>
    </div>
    <!-- /top tiles -->


    <div class="row" style="background-color:white;">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1 style="text-align:center;"><b><font color="blue">METHODOLOGY</b><small></small></h1>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a><font color="rgb(0,0,0)"><b>Step 1: Cleaning the Dataset</b></a>
                                    </h3>

                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)"><b>(1) Stopwords Remvoal</b>  -  Removal of '.' , ',' , '!' and other stop words from the review statements of the customers.
                      </p>                    
                      <p class="excerpt"><font color="rgb(0,0,200)"><b>(2) Lemmatization</b> - It refers to doing things properly with the use of a vocabulary and morphological analysis of words, normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma . 
                      <p class="excerpt"><b>(3) Word vector generation</b>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a><font color="rgb(0,0,0)"><b>Step 2: LSTM Model</b></a>
                                    </h3>
                 
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)"><b>Long Short Term Memory networks</b> – usually just called “LSTMs” – are a special kind of RNN, capable of learning long-term dependencies.
                        LSTMs are explicitly designed to avoid the long-term dependency problem. Remembering information for long periods of time is practically their default behavior, not something they struggle to learn!
                      </p>
                      </p>
                      <p class="excerpt"><font size="3";font color="blue">We used an LSTM model for Sentiment Analysis and got an accuracy of around 95%.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a><font color="rgb(0,0,0)"><b>Step 3: Keyword Generation</b></a>
                                    </h3>

                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)"><b>(1) POS (Part of Speech)</b> tagging to identify the important keywords driving the sentiments to extremes
                      </p>
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">(2)Ordering keywords on the basis of<b> strength</b>. 
                      </p>                      
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a><font color="rgb(0,0,0)"><b>Strength Calculation</b></a>
                                    </h3>
                      
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">Strength of a word is defined as the distance weighted sentiment average of the nearest neighbor of the word.
                      </p>
                      <p class="excerpt"><font size="3";font color="blue">Nearest Neighbors of Nice-<b> [Cigarette, enjoy, awesome, first, say]</b>
                      </p>
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">Sentiment of a word is defined as the average of sentiments of all the sentences carrying the word
                      </p>
                      <b class="excerpt"><font size="3";font color="rgb(0,0,200)">Example of strength calculation:
                      </b>
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">Strength of Nice = Sentiment[Cigarette]*Similarity[Cigarette-Nice]+ 
                      </p>
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">Sentiment[Enjoy]*Similarity[Enjoy-Nice]+ Sentiment[Awesome]*Similarity[Awesome-Nice]+
                      </p>
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">Sentiment[say]*Similarity[say-Nice]+ Sentiment[first]*Similarity[first-Nice]
                      </p>
                      <b class="excerpt"><font size="3";font color="blue">Strength of Nice= 0.7*0.7+0.9*0.8+0.95*0.4+0.5*0.3+0.2*0.2=1.78
                      </b>

                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a><font color="rgb(0,0,0)";font color="rgb(0,0,200)"><b>P/N Sentiment Ratio</b></a>
                                    </h3>
                      
                      <p class="excerpt"><font size="3";font color="rgb(0,0,200)">It is the ratio of the Positive reviews to the number of negative reviews.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2><b><font color="blue"><b>ITC V/S COMPETITION</b></font></b></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h3><font color="rgb(0,0,0)"><b> Review Sentiment Anaysis</b></h3>

            <div class="widget_summary">
              <div class="w_left w_25">
                <span><b>ITC Positives</b></span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>123k</span>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="widget_summary">
              <div class="w_left w_25">
                <span><b>Competition Positives</b></span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>53k</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget_summary">
              <div class="w_left w_25">
                <span><b>ITC negatives</b></span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>23k</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget_summary">
              <div class="w_left w_25">
                <span><b>Competition Negatives</b></span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>3k</span>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <br>
        <h2><b></b></h2>
        <div class="w3-content w3-section" style="max-width:500px">
        <img class="mySlides" src="/static/images/s1.jpg" style="width:100%">
        <img class="mySlides" src="/static/images/s3.jpg" style="width:100%">
        <img class="mySlides" src="/static/images/s4.jpg" style="width:100%">
        <img class="mySlides" src="/static/images/s6.jpg" style="width:100%">        
        <img class="mySlides" src="/static/images/s7.jpg" style="width:100%">
        <img class="mySlides" src="/static/images/s8.png" style="width:100%">
        <img class="mySlides" src="/static/images/s9.jpg" style="width:100%">
        <img class="mySlides" src="/static/images/s10.jpg" style="width:100%">
        <img class="mySlides" src="/static/images/s11.png" style="width:100%">
        <img class="mySlides" src="/static/images/s12.jpeg" style="width:100%">
        <img class="mySlides" src="/static/images/s13.webp" style="width:100%">
        <img class="mySlides" src="/static/images/s14.gif" style="width:100%">
        <img class="mySlides" src="/static/images/s15.png" style="width:100%">
        </div>

      <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 1500); // Change image every 2 seconds
      }
      </script>

        </body>
      </div> 
      
    
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()
    }}
{% endblock javascripts %}
