{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>  Number of CPTs conducted</span>
        <div class="count">10</div>
        <span class="count_bottom"><i class="green"></i></span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>  Number of Brands compared</span>
        <div class="count">3</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>  Cities</span>
        <div class="count green">4</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total number of Reviews</span>
        <div class="count">5000</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>  Date of Last CPT</span>
        <div class="count">2/10/19</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>  Competition Brands</span>
        <div class="count">MGA,</div>
        
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1>METHODOLOGY <small></small></h1>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a>Step 1: Cleaning the Dataset</a>
                                    </h3>

                      <p class="excerpt">(1) Stopwords Remvoal - Removal of '.' , ',' , '!' and other stop words from the review statements of the customers.
                      </p>
                      <p class="excerpt">(2) Converting numbers to words. 
                      </p>                      
                      <p class="excerpt">(3) Lammatization - It refers to doing things properly with the use of a vocabulary and morphological analysis of words, normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma . 
                      <p class="excerpt">(4) Word vector generation
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a>Step 2: LSTM Model</a>
                                    </h3>
                 
                      <p class="excerpt">Long Short Term Memory networks – usually just called “LSTMs” – are a special kind of RNN, capable of learning long-term dependencies.
                        LSTMs are explicitly designed to avoid the long-term dependency problem. Remembering information for long periods of time is practically their default behavior, not something they struggle to learn!
                      </p>
                      </p>
                      <p class="excerpt">We used an LSTM model for Sentiment Analysis and got an accuracy of around 95%.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a>Step 3: Keyword Generation</a>
                                    </h3>

                      <p class="excerpt">(1)POS(Part of Speech) tagging to identify the important keywords driving the sentiments to extremes
                      </p>
                      <p class="excerpt">(2)Ordering keywords on the basis of strength. 
                      </p>                      
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a>Strength Calculation</a>
                                    </h3>
                      
                      <p class="excerpt">Strength of a word is defined as the distance weighted sentiment average of the nearest neighbor of the word.
                      </p>
                      <p class="excerpt">Nearest Neighbors of Nice- [Cigarette, enjoy, awesome, first, say]
                      </p>
                      <p class="excerpt">Sentiment of a word is defined as the average of sentiments of all the sentences carrying the word
                      </p>
                      <b class="excerpt">Example of strength calculation:
                      </b>
                      <p class="excerpt">Strength of Nice = Sentiment[Cigarette]*Similarity[Cigarette-Nice]+ 
                      </p>
                      <p class="excerpt">Sentiment[Enjoy]*Similarity[Enjoy-Nice]+ Sentiment[Awesome]*Similarity[Awesome-Nice]+
                      </p>
                      <p class="excerpt">Sentiment[say]*Similarity[say-Nice]+ Sentiment[first]*Similarity[first-Nice]
                      </p>
                      <b class="excerpt">Strength of Nice= 0.7*0.7+0.9*0.8+0.95*0.4+0.5*0.3+0.2*0.2=1.78
                      </b>

                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h3 class="title">
                                        <a>P/N Sentiment Ratio</a>
                                    </h3>
                      
                      <p class="excerpt">It is the ratio of the Positive reviews to the number of negative reviews.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2> ITC V/S COMPETITION </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h3> Review Sentiment Anaysis</h3>
            <div class="widget_summary">
              <div class="w_left w_25">
                <span>ITC Positives</span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>123k</span>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="widget_summary">
              <div class="w_left w_25">
                <span>Competition Positives</span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>53k</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget_summary">
              <div class="w_left w_25">
                <span>ITC negatives</span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>23k</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget_summary">
              <div class="w_left w_25">
                <span>Competition Negatives</span>
              </div>
              <div class="w_center w_55">
                <div class="progress">
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right w_20">
                <span>3k</span>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2> Have a look at some previous analysis </h2>
        <script>
          var images = ['/static/images/2.png','/static/images/3.png','/static/images/4.png','/static/images/5.png'];
          var index = 0;

          function buildImage() {
            var img = document.createElement('img')
            img.src = images[index];
            document.getElementById('content').appendChild(img);
          }

          function changeImage(){
            var img = document.getElementById('content').getElementsByTagName('img')[0]
            index++;
            index = index % images.length; // This is for if this is the last image then goto first image
            img.src = images[index];
          }
        </script>

        <body onload="buildImage();">
            <div class="contents" id="content"></div>
            <button onclick="changeImage()">NextImage</button>
        </body>
      </div> 
      
    
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()
    }}
{% endblock javascripts %}
