{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div style="width: 100%; min-height:400px;" >
            <iframe 
              noresize='noresize' 
              style='position: absolute; background: transparent; width: 95%; height:100%;' 
              src={{ dash_url }}
              frameborder="0">
            </iframe>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div>
    <head>
    <style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
    </head>
    <body>
    <a href="/DashExample/app1" class="button"> CLick Here to Analyse </a>
    </body>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
