{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">   Number of CPTs conducted</span>
        <div class="count red">10</div>
        <span class="count_bottom"><i class="green"></i></span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Number of Brands compared</span>
        <div class="count red">3</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Cities</span>
        <div class="count red">4</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Total number of Reviews</span>
        <div class="count red">5000</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Date of Last CPT</span>
        <div class="count red">2/10/19</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i><font color="blue">  Competition Brands</span>
        <div class="count red">MGA,</div>  
      </div>
    </div>
        <div class="col-md-12" role="main">
      <img src="/static/images/snip2.png" alt="Paris" style="width:100%;">
    </div>
    <div class="col-md-12" role="main">
      <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      </style>
      <br><br>
      <img style="padding: 0 15px;float: left;"src="/static/images/snip3.png" alt="Paris" style="width:100%;">
      <p class="black";style="padding:0 15px;"></p>
      <br><br>
      <font size="3";font color="black"><h1>Feature Importance for B845</h1>
      <br>
      <h3> (1) Draw Effort</h3>
      <h3> (2) Residual Taste Likeability
      <h3> (3) Taste and Flavour Quality
      <h3> (4) Impact /Kick /Hit</h3>
      <h3> (5) Mouthful of Smoke</h3>
      <h3> (6) Smoothness
      <h3> (7) Strength-Likeability
      <h3> (8) Taste and Flavour Amount
      </div>
    </div>
        <div class="col-md-12" role="main">

      <img src="/static/images/snip4.png" alt="Paris" style="width:25%;">
      <br><br><br>
    </div>
    <div class="col-md-12" role="main">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <head>
    <style>
    .button {
      background-color: red;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
    </head>
    <body>
    <a href="/DashExample/app4" class="button"> Proceed to Inferences </a>
    </body>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
